################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FireFly/bin/Debug
/src/FireFly/obj
/src/packages
/src/FireFly/bin
